@page "/Abp/DynamicPermission"
@using Microsoft.Extensions.Localization
@using global::EasyAbp.Abp.DynamicPermission.Localization
@inject IStringLocalizer<DynamicPermissionResource> L
@{
}
<h1>DynamicPermission</h1>
<p>@L["SamplePageMessage"]</p>